<input type="text" placeholder="Title" id="book-title" />
<input type="text" placeholder="Author" id="book-author" />
<input type="text" placeholder="Genre" id="book-genre" />
<button>Submit</button>
